<h1>GitHub API Call Example</h1>
<button id="apiCallButton">Call GitHub API(backend)</button>
<button id="apiCallButton2">Call GitHub API(frontend)</button>
<div id="apiResponse"></div>

<script src="/javascripts/main.js"></script>